<html>
    <head>
        <link rel="stylesheet" href="../public/styles.css">
    </head>
    <body>
    <div class="details content">
        <h2><%= recipe.recipeName %></h2>
        <div class="content">
            <p><%= recipe.recipeDescription %></p>
            <p><%= recipe.recipeIngredient %></p>
            <p><%= recipe.recipeInstruction %></p>
            <p><%= recipe.recipeTime %></p>
        </div>
        <a class="delete" data-doc="<%= recipe._id %>">delete</a>
    </div>
    <script>
        const trashcan = document.querySelector('a.delete');

        trashcan.addEventListener('click', (e) => {
        const endpoint = `/recipes/${trashcan.dataset.doc}`;

        fetch(endpoint, {
            method: 'DELETE',
        })
        .then(response => response.json())
        .then(data => window.location.href = data.redirect)
        .catch(err => console.log(err));
        });
        
    </script>
    </body>
</html>